.color-title {
  font-weight: normal;
}

#red {
  color: red;
}

#blue {
  color: blue;
}

#yellow {
  color: yellow;
}

#orange {
  color: orange;
}

#green {
  color: green;
}

img {
  width: 200px;
  height: 200px;
}
